/* This is the main CSS stylesheet for this website. It will give global styles to any particular attribute or class within the HTML files. Making style changes here will make changes on every page, as long as the file is linked within each file.*/

/* Global Styling */

a:link {
    color: blue;
}

a:visited {
    color: red;
}

a:hover {
    color:green;
}

nav {
    background-color: #bec7e5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    display:flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header {
    padding-top: 30px;
}

body {
    background-color: #d5d9e5;
}

h1, 
h2,
h3 {
    font-family: "Playfair Display";
    text-align: center;
}

p {
    font-family: "Roboto";
    margin: 25px 25px 25px 25px;
}

footer {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Playfair Display";
    text-align: center;
}

/* Styling for navbar elements */

nav ul li {
    display: inline;
    font-family: "Roboto";
    margin: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:visited {
    color: black;
}

/* Styling for tables */

table {
    width: 90%;
    border: 1px solid black;
    margin: 25px;
}

caption {
    font-family: "Playfair Display";
    font-size: 18px;
}

th, td {
    border: 1px solid black;
    font-family: "Roboto";
    text-align: center;
}

/* Styling for columns and rows for each page */

.row {
    display: flex;
    align-items: center;
}

.column {
    flex: 50%;
}

/* Styling for image gallery */

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}

div.gallery:hover {
    border: 1px solid #777;
}
div.gallery img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 5px;
    text-align: center;
}

/* Styling for video content */

.video {
    margin-left: auto;
    margin-right: auto;
    display: block
}

/* Styling for audio */

.audio {
    margin-left: auto;
    margin-right: auto;
    display: block
}

